.delete{
	width: 100px;
	height: 50px;

}
.delete:hover{
	background: #f9a907;
}
#picture-container{
	position: absolute;
	width: 350px;
	height: 350px;
	left: 20px;
	top: 120px;
	border: #000 solid 3px;
	border-radius: 25px;
	overflow: hidden;
}
#profile-pic{
	top:100px;
	left: 20px;
	width: 350px;
	height: 350px;
	border-bottom: #000 solid 3px;
}
#picture-button{
	width: 100%;
	background: #0000ff;
	color: white;
	text-decoration: none;
	z-index: 999;
	bottom: 0;
	padding:10px;
	font-size: 15px;
}
#details{
	position: absolute;
	left: 400px;
	top: 100px;
	min-height: 100px;
	width: 900px;
	border: #333 solid 3px;
	border-radius: 25px;
	text-align: left;
	padding: 20px;
	font-size: 15px;
	word-break:break-all;
}
.individual-details{
	margin-top:30px;
	margin-bottom: 30px;
	border-bottom: #000 dashed 3px;
	border-top: #000 dashed 3px;
}
.individual-details p{
	margin: 20px;
	font-family: font3;
	font-size: 20px;
}
.edit{
	margin-top:20px;
}
.details-title{
	color: #ff0000;
	font-size:25px;
	text-decoration: underline;
	width: 200px;
}
.edit-button{
	border: #000 solid 3px;
	padding: 8px;
	font-family: font1;
	text-decoration: none;
	border-radius: 15px;
	background: #ff0000;
	color: #fff;
	cursor: pointer;
}
.edit-button:hover{
	background: #0000ff;	
}
#para-color{
	color: #0000ff;
	font-size: 18px;
	font-family: font1;
}
#form-close{
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#close-btn{
	position: absolute;
	right: 10px;
	width: 20px;
	height: 20px;
}
.forms-invisible{
	visibility: hidden;
}
.forms-visible{
	padding: 20px;
	visibility: visible;
}
.forms-visible p{
	text-align: left;
	color: #000;
	font-size: 15px;
	padding: 20px;
}
.forms-visible input[type="text"]{
	width: 300px;
	height: 30px;
	text-align: center;
	margin-top:20px;
	margin-left:20px;
	margin-right: auto;
	border-radius: 15px;
	border: #ABA7A7 solid 3px;
}
.forms-visible input[type="submit"]{
	width: 200px;
	height: 30px;
	margin-left: 100px;
	border-radius: 15px;
	background: #ff0000;
	font-family: font1;
	color: #fff;
}
#form-education{
	position: absolute;
	width: 400px;
	height: 420px;
	z-index: 9999;
	left: 500px;
	top: 200px;
	background: #fff; 
	padding: 20px;
	border: #ff0000 solid 3px;
	border-radius: 25px;
}
#form-picture{
	position: absolute;
	width: 300px;
	height: 500px;
	z-index: 99999;
	left: 500px;
	top: 200px;
	background: #fff; 
	padding: 20px;
	border: #ff0000 solid 3px;
	border-radius: 25px;
}
#form-you{
	position: absolute;
	width: 400px;
	height: 550px;
	z-index: 9999;
	left: 500px;
	top: 80px;
	background: #fff; 
	padding: 20px;
	border: #ff0000 solid 3px;
	border-radius: 25px;
}
#form-parents{
	position: absolute;
	width: 400px;
	height: 650px;
	z-index: 9999;
	left: 500px;
	top: 80px;
	background: #fff;
	padding: 20px;
	border: #ff0000 solid 3px;
	border-radius: 25px; 
}
#submit{
	position: absolute;
	bottom:  20px;
	left: 30px;
	width: 200px;
	height: 40px;
}